:root {
  --card-height: 7rem;
  --card-width: 7rem;
  --countdown-border-radius: calc(var(--card-height) * 0.05);
  --flip-height: var(--card-height);
  --flip-width: var(--card-width);
  --line-height: calc(var(--flip-height) * 0.5);
  --flip-container-color: var(--dark-desaturated-blue);
  --flip-color: var(--dark-desaturated-blue);
  --flip-text-color: var(--soft-red);
  --card-point-width: 10px;
  --card-point-height: 10px;
  --animation-time: 0.8s;
  --animation-ease: linear;
  --perspective: 30rem;
  --box-shadow-color: hsl(240, 15%, 12%);
  --card-height-xl: 14.7rem;
  --card-width-xl: 14.7rem;
  --flip-height-xl: var(--card-height-xl);
  --flip-width-xl: var(--card-width-xl);
  --line-height-xl: calc(var(--flip-height-xl) * 0.5);
  --countdown-border-radius-xl: calc(var(--flip-height-xl) * 0.05);
  --card-point-width-xl: 12px;
  --card-point-height-xl: 12px;
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

/* Typography */
/* Fonts */
/* Media Query break points */
/* Global reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--very-dark-mostly-black-blue);
  background-image: url("../images/pattern-hills.svg"), url("../images/bg-stars.svg");
  background-repeat: no-repeat;
  background-position: 82% 100%, center center;
  background-size: 1200px, cover;
}
@media only screen and (min-width: 1200px) {
  body {
    background-position: bottom center, top center;
    background-size: contain, contain;
  }
}

.container {
  padding: 14rem 2.5rem 5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container .header {
  color: var(--white);
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 6rem;
}
@media only screen and (min-width: 1200px) {
  .container .header {
    font-size: 2.2rem;
    letter-spacing: 0.75rem;
    margin-bottom: 10rem;
  }
}
.container .countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 1.5rem;
}
@media only screen and (min-width: 1200px) {
  .container .countdown {
    gap: 3.4rem;
  }
}
.container .countdown .days-card,
.container .countdown .hours-card,
.container .countdown .minutes-card,
.container .countdown .seconds-card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  display: inline-flex;
  box-shadow: 0 5px 0 0 var(--box-shadow-color);
  border-radius: var(--countdown-border-radius);
}
@media only screen and (min-width: 1200px) {
  .container .countdown .days-card,
.container .countdown .hours-card,
.container .countdown .minutes-card,
.container .countdown .seconds-card {
    width: var(--card-width-xl);
    height: var(--card-height-xl);
    box-shadow: 0 10px 0 0 var(--box-shadow-color);
    border-radius: var(--countdown-border-radius-xl);
  }
}
.container .countdown .days-card::before,
.container .countdown .hours-card::before,
.container .countdown .minutes-card::before,
.container .countdown .seconds-card::before,
.container .countdown .days-card::after,
.container .countdown .hours-card::after,
.container .countdown .minutes-card::after,
.container .countdown .seconds-card::after {
  content: "";
  width: var(--card-point-width);
  height: var(--card-point-height);
  top: calc(var(--card-height) * 0.5 - var(--card-point-height) * 0.5);
  position: absolute;
  border-radius: 50%;
  background: #191a24;
  z-index: 1000;
}
@media only screen and (min-width: 1200px) {
  .container .countdown .days-card::before,
.container .countdown .hours-card::before,
.container .countdown .minutes-card::before,
.container .countdown .seconds-card::before,
.container .countdown .days-card::after,
.container .countdown .hours-card::after,
.container .countdown .minutes-card::after,
.container .countdown .seconds-card::after {
    width: var(--card-point-width-xl);
    height: var(--card-point-height-xl);
    top: calc(var(--card-height-xl) * 0.5 - var(--card-point-height-xl) * 0.5);
  }
}
.container .countdown .days-card::before,
.container .countdown .hours-card::before,
.container .countdown .minutes-card::before,
.container .countdown .seconds-card::before {
  left: calc(var(--card-point-width) * -0.5);
}
@media only screen and (min-width: 1200px) {
  .container .countdown .days-card::before,
.container .countdown .hours-card::before,
.container .countdown .minutes-card::before,
.container .countdown .seconds-card::before {
    left: calc(var(--card-point-width-xl) * -0.5);
  }
}
.container .countdown .days-card::after,
.container .countdown .hours-card::after,
.container .countdown .minutes-card::after,
.container .countdown .seconds-card::after {
  right: calc(var(--card-point-width) * -0.5);
}
@media only screen and (min-width: 1200px) {
  .container .countdown .days-card::after,
.container .countdown .hours-card::after,
.container .countdown .minutes-card::after,
.container .countdown .seconds-card::after {
    right: calc(var(--card-point-width-xl) * -0.5);
  }
}
.container .countdown .desc {
  justify-self: center;
  color: var(--grayish-blue);
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
@media only screen and (min-width: 1200px) {
  .container .countdown .desc {
    font-size: 1.4rem;
    letter-spacing: 0.6rem;
  }
}
.container .countdown .flip {
  height: var(--flip-height);
  width: var(--flip-width);
  border-radius: var(--countdown-border-radius);
  font-size: calc(var(--flip-height) * 0.5);
  font-weight: 700;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .container .countdown .flip {
    height: var(--flip-height-xl);
    width: var(--flip-width-xl);
    border-radius: var(--countdown-border-radius-xl);
    font-size: calc(var(--flip-height-xl) * 0.5);
  }
}
.container .countdown .flip-display {
  height: var(--flip-height);
  width: var(--flip-width);
  display: flex;
  flex-direction: column;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .container .countdown .flip-display {
    height: var(--flip-height-xl);
    width: var(--flip-width-xl);
  }
}
.container .countdown .flip-display-top, .container .countdown .flip-display-bottom {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: calc(var(--flip-height) * 0.5);
  background-color: var(--flip-container-color);
  color: var(--flip-text-color);
  line-height: calc(var(--line-height) * var(--i));
}
@media screen and (min-width: 1200px) {
  .container .countdown .flip-display-top, .container .countdown .flip-display-bottom {
    height: calc(var(--flip-height-xl) * 0.5);
    line-height: calc(var(--line-height-xl) * var(--i));
  }
}
.container .countdown .flip-display-top {
  --i: 2;
  border-top-left-radius: var(--countdown-border-radius);
  border-top-right-radius: var(--countdown-border-radius);
  box-shadow: 0 -5px 2px var(--box-shadow-color);
  background-color: hsl(237deg, 18%, 20%);
}
@media only screen and (min-width: 1200px) {
  .container .countdown .flip-display-top {
    border-top-left-radius: var(--countdown-border-radius-xl);
    border-top-right-radius: var(--countdown-border-radius-xl);
  }
}
.container .countdown .flip-display-bottom {
  --i: 0;
  border-bottom-left-radius: var(--countdown-border-radius);
  border-bottom-right-radius: var(--countdown-border-radius);
  box-shadow: 0 5px 2px var(--box-shadow-color);
}
@media only screen and (min-width: 1200px) {
  .container .countdown .flip-display-bottom {
    border-bottom-left-radius: var(--countdown-border-radius-xl);
    border-bottom-right-radius: var(--countdown-border-radius-xl);
  }
}
.container .countdown .flip .flipper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: var(--flip-height);
  width: var(--flip-width);
  perspective: var(--perspective);
}
@media only screen and (min-width: 1200px) {
  .container .countdown .flip .flipper {
    height: var(--flip-height-xl);
    width: var(--flip-width-xl);
  }
}
.container .countdown .flip .flipper-top, .container .countdown .flip .flipper-bottom {
  position: absolute;
  left: -10%;
  right: -10%;
  height: calc(var(--flip-height) * 0.5);
  width: var(--flip-width);
  margin: auto;
  text-align: center;
  line-height: calc(var(--line-height) * var(--i));
  overflow: hidden;
  background-color: var(--flip-color);
  color: var(--flip-text-color);
}
@media only screen and (min-width: 1200px) {
  .container .countdown .flip .flipper-top, .container .countdown .flip .flipper-bottom {
    height: calc(var(--flip-height-xl) * 0.5);
    width: var(--flip-width-xl);
    line-height: calc(var(--line-height-xl) * var(--i));
  }
}
.container .countdown .flip .flipper-top {
  --i: 2;
  top: 0;
  transform-origin: bottom;
  transform: rotateX(-90deg);
  border-top-left-radius: var(--countdown-border-radius);
  border-top-right-radius: var(--countdown-border-radius);
  background-color: hsl(237deg, 18%, 20%);
  box-shadow: 0 -5px 2px var(--box-shadow-color);
}
@media only screen and (min-width: 1200px) {
  .container .countdown .flip .flipper-top {
    border-top-left-radius: var(--countdown-border-radius-xl);
    border-top-right-radius: var(--countdown-border-radius-xl);
  }
}
.container .countdown .flip .flipper-bottom {
  --i: 0;
  transform: rotateX(90deg);
  transform-origin: top;
  bottom: 0;
  border-bottom-left-radius: var(--countdown-border-radius);
  border-bottom-right-radius: var(--countdown-border-radius);
  box-shadow: 0 5px 2px var(--box-shadow-color);
}
@media only screen and (min-width: 1200px) {
  .container .countdown .flip .flipper-bottom {
    border-bottom-left-radius: var(--countdown-border-radius-xl);
    border-bottom-right-radius: var(--countdown-border-radius-xl);
  }
}
.container .countdown .flip.play .flipper-top {
  animation: flipperTopAnimation var(--animation-time) var(--animation-ease);
}
.container .countdown .flip.play .flipper-bottom {
  animation: flipperBottomAnimation var(--animation-time) var(--animation-ease);
}
.container .footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  gap: 3.5rem;
}
.container .footer svg {
  width: 24px;
  height: 24px;
  fill: hsl(237deg, 18%, 59%);
}
.container .footer svg:hover {
  fill: var(--soft-red);
  cursor: pointer;
}

@keyframes flipperTopAnimation {
  0% {
    transform: rotateX(0deg);
  }
  50%, 100% {
    transform: rotateX(-90deg);
  }
}
@keyframes flipperBottomAnimation {
  0%, 50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
